<div class="modal-header">Create New Trip</div>

<div class="modal-body">
<%= form_for @new_trip do |f| %>
    <div>
        <%= f.label :name, nil, class: 'sr-only' %>
        <%= f.text_field :name, :placeholder => "Trip Name" %>
    </div>
    <div>
        <%= f.label :startdate, "Start Date"%><br>
        <%= f.date_field :startdate, :placeholder => "Start Date" %>
    </div>
    <div>
        <%= f.label :enddate, "End Date" %><br>
        <%= f.date_field :enddate, :placeholder => "End Date" %>
    </div>
    <%= f.submit "Save New Trip", class: "btn btn-default" %>
<% end %>
</div>
