<h3>Edit Trip</h3>

<%= form_for @trip do |f| %>
    <div>
        <%= f.label :name, nil, class: 'sr-only' %>
        <%= f.text_field :name, :placeholder => "Trip Name" %>
    </div>
    <div>
        <%= f.label :country, nil, class: 'sr-only' %>
        <%= f.text_field :country, :placeholder => "Country" %>
    </div>
    <div>
        <%= f.label :startdate, "Start Date"%><br>
        <%= f.date_field :startdate, :placeholder => "Start Date" %>
    </div>
    <div>
        <%= f.label :enddate, "End Date" %><br>
        <%= f.date_field :enddate, :placeholder => "End Date" %>
    </div>
    <%= f.submit "Save", class: "btn btn-default" %>
<% end %>


<%= link_to "Back", trip_path(@trip) %>
