<div class="profile">
  <div class="jumbotron text-center"><h1>Your Trips</h1><br>
    <div id="notice"><%= notice %> </div>
      <%= form_for [@user, @trip_new], :html => {:class => "new_trip form-inline"} do |f| %>
      <% if @trip_new.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @trip_new.errorsfull_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field form-group">
        <%= label_tag :name, nil, class: 'sr-only' %>
        <%= f.text_field :name, :required => true, :placeholder => "Trip Name", class: "form-control"%>
      </div>
      <div class="field form-group">
        <%= label_tag :country, nil, class: 'sr-only' %>
        <%= f.text_field :country, :required => true, :placeholder => "Country", class: "form-control" %>
      </div>
      <br>
      <div class="field form-group">
          <%= f.label :startdate, "Start Date" %>
          <%= f.date_field :startdate, :placeholder => "Start Date", class: "form-control" %>
      </div>
      <div class="field form-group">
          <%= f.label :enddate, "End Date" %>
          <%= f.date_field :enddate, :placeholder => "End Date", class: "form-control" %>
      </div><br><br>
      <%= f.submit "Save New Trip", class: "btn btn-default" %>
    <% end %>
    <br>

      <a href=<%= user_path(current_user)%> ><div class="glyphicon glyphicon-chevron-left"></div>

      </div>
    </div>
  </div>

  <% if (current_user.trips.count > 0) %>
      <ul>
        <% current_user.trips.each do |t| %>
          <li><%= link_to t.name, trip_path(t) %></li>
        <% end %>
      </ul>

  <% else %>
      <p>You currently have no trips. Why?</p>
  <% end %>

</div>
