<div class="profile trip-index">
  <div class="jumbotron text-center">
    <h2>YOUR TRIPS</h2>
    <h4>create it. plan it. make it happ'n capt'n.</h4>

    <br>

      <!-- Modal Trigger -->
          <button type="button" class="btn btn-inverse" data-toggle="modal" data-target="#newAccModal">
                  Create New Trip
          </button>
          <!-- Modal  -->
          <div class="modal fade" id="newAccModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">New Trip</h4>
                    </div>
                    <div class="modal-body">
                      <%= form_for [@user, @trip_new] do |f| %>
                        <% if @trip_new.errors.any? %>
                          <div class="error_messages">
                            <h2>Form is invalid</h2>
                            <ul>
                              <% for message in @trip_new.errorsfull_messages %>
                                <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <div class="field form-group">
                          <%= label_tag :name, nil, class: 'sr-only' %>
                          <%= f.text_field :name, :required => true, :placeholder => "Trip Name", class: "form-control"%>
                        </div>
                        <div class="field form-group">
                          <%= label_tag :country, nil, class: 'sr-only' %>
                          <%= f.text_field :country, :required => true, :placeholder => "Country", class: "form-control" %>
                        </div>

                        <div class="field form-group text-left">
                            <%= f.label :startdate, "Start Date" %>
                            <%= f.date_field :startdate, :placeholder => "Start Date", class: "form-control" %>
                        </div>
                        <div class="field form-group text-left">
                            <%= f.label :enddate, "End Date" %>
                            <%= f.date_field :enddate, :placeholder => "End Date", class: "form-control" %>
                        </div>
                        <div class="field form-group text-left">
                          <%= f.label :image, "Banner Image" %>
                          <%= f.file_field :image %>
                        </div><br><br>
                        <%= f.submit "Save New Trip", class: "btn btn-default" %>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>

  <ol class="breadcrumb">
    <li><%= link_to "Profile", user_path(current_user), class: "grey-link" %></li>
    <li class="active">My Trips</li>
  </ol>

  <div class="container">

    <% if (current_user.trips.count > 0) %>
      <div class="row">
        <% current_user.trips.each do |t| %>
          <div class="container text-center col-xs-6 col-sm-4 hero-feature trip-thumb" >
            <div class="thumbnail trip-bckgrnd" style="background-image: url(<%= t.image.url %>)">
              <div class='caption'>
                <h3><%= link_to t.name.upcase, trip_path(t), class: "trip-info" %></h3>
                <p class="trip-info"><%= t.startdate.to_formatted_s(:long) %> - <%= t.enddate.to_formatted_s(:long) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
        <p class="text-center">You currently have no trips. Why?</p>
    <% end %>

    <hr>
    <h4>Trips I'm Invited To:</h4>
    <% if (current_user.invited_trips.count > 0) %>
      <div class="row">
        <% current_user.invited_trips.each do |t| %>
          <div class="container text-center col-xs-6 col-sm-4 hero-feature trip-thumb" >
            <div class="thumbnail trip-bckgrnd" style="background-image: url(<%= t.image.url %>)">
              <div class='caption'>
                <h3><%= link_to t.name.upcase, trip_path(t), class: "trip-info" %></h3>
                <p class="trip-info"><%= t.startdate.to_formatted_s(:long) %> - <%= t.enddate.to_formatted_s(:long) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
        <p>You currently have no invitations.</p>
    <% end %>
  </div>

</div>
