<div class="profile">
  <div class="jumbotron text-center">
    <h1><%= @trip.name %></h1>
    <h4 class="text-center"><%= @trip.startdate.to_formatted_s(:long) %> - <%= @trip.enddate.to_formatted_s(:long) %></h4>
    <h3><%= @trip.country %></h3>
    <div id="notice"><%= notice %></div>
    <%= link_to 'Back to My Trips', trips_path %>
  </div>



  <% @invited_users.each do |u| %>
    <%= u.name %>
  <% end %>
  <hr>

  <%= link_to "Invite Travellers", new_trip_user_trip_path(@trip) %> |
  <%= link_to "Back", trips_path(current_user) %> |
  <%= link_to "Edit", edit_trip_path %> |
  <%= link_to "Delete", @trip, method: :delete, data: { confirm: 'Are you sure???' } %>

  <div class="container">
    <div class="page-header">
        <h1 id="timeline">Itinerary</h1>
        <!-- Modal Trigger -->
          <button type="button" class="btn" data-toggle="modal" data-target="#dayModal">
                  Add Day
          </button>
          <!-- Modal  -->
          <div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Add Day</h4>
                    </div>
                    <div class="modal-body">
                      <%= form_for [@trip, @day_new] do |f| %>
                        <% if @day_new.errors.any? %>
                          <div class="error_messages">
                            <h2>Form is invalid</h2>
                            <ul>
                              <% for message in @day_new.errorsfull_messages %>
                                <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <div class="field form-group">
                          <%= label_tag :number, "Day #" %>
                          <%= f.number_field :number, :required => true, :placeholder => "Day Number" %>
                        </div>
                        <div class="field form-group">
                          <%= label_tag :location, nil, class: 'sr-only' %>
                          <%= f.text_field :location, :required => true, :placeholder => "Location", class: "form-control"%>
                        </div>
                        <div class="field form-group">
                          <%= label_tag :accommodation, nil, class: 'sr-only' %>
                          <%= f.text_field :accommodation, :required => true, :placeholder => "Where are you sleeping?", class: "form-control" %>
                        </div>
                        <div class="field form-group">
                          <%= label_tag :activities, nil, class: 'sr-only' %>
                          <%= f.text_field :activities, :required => true, :placeholder => "What are you doing?", class: "form-control" %>
                        </div>
                        <div class="field form-group">
                          <%= label_tag :note, "Add Notes", class: "text-left" %>
                          <%= text_area_tag :note, nil, class: "form-control" %>
                        </div>

                        <br><br>
                        <div class="actions"><%= f.submit 'Add Accomodation' %></div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


    </div>
    <ul class="timeline">

      <% @trip.days.each do |d| %>

        <li><div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Day <%= d.number %></h4>
              <p>Location: <%= d.location %></p>
              <p>Sleeping Arrangements: <%= d.accommodation %></p>
            </div>
            <div class="timeline-body">
              <p>What we are doing: <%= d.activities %></p>
              <p>Notes: <%= d.activities %></p>
              <%= link_to "Edit", edit_day_path %> |
              <%= link_to "Delete", @trip, method: :delete, data: { confirm: 'Are you sure???' } %>
            </div>
          </div>
        </li>

      <% end %>


        <li class="timeline-inverted">
          <div class="timeline-badge "></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

    </ul>
</div>
</div>
</div>
