<div class="profile">
<h1><%= @trip.name %></h1>
<div id="notice"><%= notice %></div>
<h1><%= @trip.country %></h1>
<p><%= @trip.startdate.to_formatted_s(:long) %> - <%= @trip.enddate.to_formatted_s(:long) %></p>
<p><%= @trip.invited_users %></p>




<br><br>
<%= link_to "Invite Travellers", new_trip_user_trip_path(@trip) %> |
<%= link_to "Back", trips_path(current_user) %> |
<%= link_to "Edit", edit_trip_path %> |
<%= link_to "Delete", @trip, method: :delete, data: { confirm: 'Are you sure???' } %>
</div>
