<div class="profile">
  <div class="jumbotron text-center">
    <h2>MY BUCKET LIST</h2>
    <h3><%= @accommodation.city.name.upcase %>, <%= @accommodation.city.country.upcase %></h3>
    <h4>Edit Accommodation</h4>
    <div id="notice"><%= notice %></div>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Profile", user_path(current_user), class: "grey-link" %></li>
    <li><%= link_to "My Bucket List", user_cities_path(current_user), class: "grey-link" %></li>
    <li><%= link_to @accommodation.city.name, city_path(@accommodation.city), class: "grey-link" %></li>
    <li><%= link_to @accommodation.name, accommodation_path(@accommodation), class: "grey-link" %></li>
    <li class="active">Edit</li>
  </ol>

<div class="container">
  <%= form_for @accommodation do |f| %>
    <% if @accommodation.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @accommodation.errorsfull_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field form-group">
      <%= label_tag :name, "Name" %>
      <%= f.text_field :name, :required => true, :placeholder => "Name", class: "form-control"%>
    </div>
    <div class="field form-group">
      <%= label_tag :address, "Address" %>
      <%= f.text_field :address, :required => true, :placeholder => "Address", class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= label_tag :note, "Add Notes", class: "text-left" %>
      <%= f.text_field :note, class: "form-control" %>
    </div>

    <br><br>
    <div class="actions"><%= f.submit 'Save', class: "btn" %></div>

    </div>
  <% end %>

</div>
