<div class="profile">
  <div class="jumbotron text-center">
    <h2>My Bucket List</h2>
    <h3><%= @accommodation.city.name %>, <%= @accommodation.city.country %></h3>
    <%= link_to "Go Back", city_path(@accommodation.city_id) %>
    <div id="notice"><%= notice %></div>
  </div>

  <h4>Edit Accommodation</h4>
  <%= form_for @accommodation do |f| %>
    <% if @accommodation.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @accommodation.errorsfull_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field form-group">
      <%= label_tag :name, nil, class: 'sr-only' %>
      <%= f.text_field :name, :required => true, :placeholder => "Name", class: "form-control"%>
    </div>
    <div class="field form-group">
      <%= label_tag :address, nil, class: 'sr-only' %>
      <%= f.text_field :address, :required => true, :placeholder => "Address", class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= label_tag :note, "Add Notes", class: "text-left" %>
      <%= text_area_tag :note, nil, class: "form-control" %>
    </div>

    <br><br>
    <div class="actions"><%= f.submit 'Save' %></div>
  <% end %>





</div>
