<div class="profile">
  <div class="jumbotron text-center">
    <h2>My Bucket List</h2>
    <h3><%= @accommodation.city.name %>, <%= @accommodation.city.country %></h3>
    <%= link_to "Go Back", city_path(@accommodation.city_id) %>
    <div id="notice"><%= notice %></div>
  </div>

<h4><%= @accommodation.name %></h4>
<h4><%= @accommodation.address %></h4>


  <%= link_to "Edit", edit_accommodation_path %> |
  <%= link_to "Delete", accommodation_path(@accommodation), method: :delete, data: { confirm: 'Are you sure???' } %>




</div>
