<div class="profile">
  <div class="jumbotron text-center">
    <h2>MY BUCKET LIST</h2>
    <h3><%= @accommodation.city.name.upcase %>, <%= @accommodation.city.country.upcase %></h3>
    <div id="notice"><%= notice %></div>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Profile", user_path(current_user), class: "grey-link" %></li>
    <li><%= link_to "My Bucket List", user_cities_path(current_user), class: "grey-link" %></li>
    <li><%= link_to @accommodation.city.name, city_path(@accommodation.city), class: "grey-link" %></li>
    <li class="active"><%= @accommodation.name %></li>
  </ol>

<div class="container">
  <h4><%= @accommodation.name %></h4>
  <h4>Address: <%= @accommodation.address %></h4>
  <h4>Notes:</h4>
  <p><%= @accommodation.note %><p>

  <br>
  <%= link_to "Edit", edit_accommodation_path, class: "blck-link" %> |
  <%= link_to "Delete", accommodation_path(@accommodation), method: :delete, data: { confirm: 'Are you sure???' }, class: "blck-link" %>
</div>



</div>
