<div class="profile">
  <div class="jumbotron text-center centered">
    <h1>Edit Your Profile</h1>
  </div>

  <div class="progressbar text-left container-fluid">
    <div class="container">
      <span><%= link_to "Profile", user_path(current_user) %></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <%= link_to "Edit", edit_user_path(current_user) %>
    </div>
  </div>

  <div class="container">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :required => true, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :hometown %>
        <%= f.text_field :hometown, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :image, "Profile Picture" %>
        <%= f.file_field :image %>
      </div>
      <div class="field form-group">
        <%= f.label :banner, "Banner Image" %>
        <%= f.file_field :banner %>
      </div>
      <div class="actions"><%= f.submit "Save", class: "btn"%></div>
    <% end %>

  </div>

</div>
