<div class="container">
  <h1>Sign Up</h1><br>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errorsfull_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :name, :required => true, :placeholder => "Name"%>
    </div><br>
    <div class="field">
      <%= f.text_field :email, :required => true, :placeholder => "Email" %>
    </div><br>
    <div class="field">
      <%= f.password_field :password, :required => true, :placeholder => "Password" %>
    </div><br>
    <div class="field">
      <%= f.password_field :password_confirmation, :required => true, :placeholder => "Confirm Password"%>
    </div><br>
    <div>
      <%= f.file_field :image %>
    </div><br>
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>
