<div class="profile">
  <div class="jumbotron text-center centered">
    <div id="profile-pic"><%= image_tag(@user.image.url, height: '300', class: "rounded image-cropper") %></div>
    <!-- <br> -->
      <h3><%= @user.name %></h3>
      <p><%= @user.hometown %></p>

  </div>


  <div class="container text-center">

      <div class="row text-center">

          <div class="col-md-6 col-sm-12 hero-feature">
            <div class="thumbnail list">
              <h4><%= link_to 'My Bucket List', user_cities_path(:current_user_id) %></h4>
          </div>

        </div>

          <div class="col-md-6 col-sm-12 hero-feature">
            <div class="thumbnail list">
                <h4><%= link_to 'My Trips', trips_path %></h4>
            </div>
          </div>

      </div>

    </div>

      <div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown trigger
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Hi</a></li>
    </ul>
  </div>
</div>


<script>
function handleCityClicked(cityName) {
  document.getElementById('myModal2City').textContent = cityName;
}
</script>
