<div class="profile">
  <div class="jumbotron text-center">
    <h2>MY BUCKET LIST</h2>
    <h3><%= @sight.city.name.upcase %>, <%= @sight.city.country.upcase %></h3>
    <div id="notice"><%= notice %></div>
  </div>

  <div class="progressbar text-left container-fluid">
    <div class="container">
      <span><%= link_to "Profile", user_path(current_user) %></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <%= link_to "My Bucket List", user_cities_path(current_user) %>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span><%= link_to @sight.city.name, city_path(@sight.city) %></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span><%= link_to @sight.name, sight_path(@sight) %></span>
    </div>
  </div>

  <div class="container">
    <h3><%= @sight.name %></h3>
    <h4>Address: <%= @sight.address %></h4>
    <h4>Notes:</h4>
    <p><%= @sight.note %><p>

    <br>
    <%= link_to "Edit", edit_sight_path, class: "blck-link" %> |
    <%= link_to "Delete", sight_path(@sight), method: :delete, data: { confirm: 'Are you sure???' }, class: "blck-link"  %>
  </div>



</div>
