<div class="home-page">
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
         <div class="navbar-header brand">
        <span>
          <div class="glyphicon glyphicon-globe"></div>
        </span>
      </div>

    <%= form_tag sessions_path, class: 'navbar-form navbar-right' do %>
      <div class="field form-group">
        <%= label_tag :email, nil, class: 'sr-only' %>
        <%= text_field_tag :email, params[:email], :placeholder => "Email", class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= label_tag :password, nil, class: 'sr-only' %>
        <%= password_field_tag :password, params[:password], :placeholder => "Password", class: "form-control" %>
      </div>
      <%= submit_tag "Log In", class: "btn btn-default" %>
      <p id="alert"><%= alert %></p>
      <% end %>

  </nav>

<div class="container-fluid section">
<br><br><br><br><br>
   <!--    <span><h1>Log In</h1></span> -->

          <!-- <div>No account? <%#= link_to 'Sign Up!', new_user_path %></div> -->

  <div class="row">

    <div class="container text-center col-sm-6 hero-feature">
        <div class="caption">
        <br><br><br><br><br>
          <h1>The world isn't waiting,</h1>
          <h1>so why are you?</h1>
       </div>
    </div>

    <div class="container col-sm-6 hero-feature">
    <div id="sign-up">
  <h1>Sign Up</h1><br>
  <%= form_for User.new do |f| %>
    <% if User.new.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in User.new.errorsfull_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= label_tag :name, nil, class: 'sr-only' %>
      <%= f.text_field :name, :required => true, :placeholder => "Name", class: "form-control sign-up" %>
    </div><br>
    <div class="field">
      <%= label_tag :email, nil, class: 'sr-only' %>
      <%= f.text_field :email, :required => true, :placeholder => "Email", class: "form-control sign-up" %>
    </div><br>
    <div class="field">
      <%= label_tag :password, nil, class: 'sr-only' %>
      <%= f.password_field :password, :required => true, :placeholder => "Password", class: "form-control sign-up" %>
    </div><br>
    <div class="field">
      <%= label_tag :password_confirmation, nil, class: 'sr-only' %>
      <%= f.password_field :password_confirmation, :required => true, :placeholder => "Confirm Password", class: "form-control sign-up" %>
    </div><br>

    <div class="actions"><%= f.submit 'Create Account', class: 'btn btn-default' %></div>
  <% end %>
    <br><br>

    </div>
    </div>


</div>

</div>
</div>







