<!-- <style type="text/css">
  header.section {
    background: url(<%#= randomized_background_image %>) no-repeat center center fixed;
  }
</style> -->

<div class="home-page">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
         <div class="navbar-header brand">
        <span>
          <div class="glyphicon glyphicon-globe"></div>
        </span>
      </div>
    </div>

    <%= form_tag sessions_path, class: 'navbar-form navbar-right sign-in' do %>
      <div class="field form-group">
        <%= label_tag :email, nil, class: 'sr-only' %>
        <%= text_field_tag :email, params[:email], :placeholder => "Email", class: "form-control input-login" %>
      </div>
      <div class="field form-group">
        <%= label_tag :password, nil, class: 'sr-only' %>
        <%= password_field_tag :password, params[:password], :placeholder => "Password", class: "form-control input-login" %>
      </div>
      <%= submit_tag "Log In", class: "btn submit-btn" %>
      <p id="alert"><%= alert %></p>
      <% end %>

  </nav>

  <header class="container-fluid section">
  <br><br><br><br><br>

    <div class="row">

        <div class="container text-center col-xs-12 col-sm-6 hero-feature">
            <div class="caption">
            <br><br><br><br><br>
              <h1 class="home-text">THE WORLD ISN'T WAITING</h1>
              <h1 class="home-text">SO WHY ARE YOU?</h1>
           </div>
        </div>

        <div class="container col-xs-12 col-sm-6 hero-feature">
        <div id="sign-up">
          <h1 class="home-text">SIGN UP</h1><br>
          <%= form_for User.new do |f| %>
            <% if User.new.errors.any? %>
              <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                  <% for message in User.new.errorsfull_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= label_tag :name, nil, class: 'sr-only' %>
              <%= f.text_field :name, :required => true, :placeholder => "Name", class: "form-control sign-up" %>
            </div><br>
            <div class="field">
              <%= label_tag :email, nil, class: 'sr-only' %>
              <%= f.text_field :email, :required => true, :placeholder => "Email", class: "form-control sign-up" %>
            </div><br>
            <div class="field">
              <%= label_tag :password, nil, class: 'sr-only' %>
              <%= f.password_field :password, :required => true, :placeholder => "Password", class: "form-control sign-up" %>
            </div><br>
            <div class="field">
              <%= label_tag :password_confirmation, nil, class: 'sr-only' %>
              <%= f.password_field :password_confirmation, :required => true, :placeholder => "Confirm Password", class: "form-control sign-up" %>
            </div><br>

            <div class="actions"><%= f.submit 'Create Account', class: 'btn submit-btn' %></div>
          <% end %>
          <br><br>

        </div>
      </div>


    </div>

  </header>

  <section class="about text-center">
    <br><br><br><br><br>
    <h3>ABOUT THE DEVELOPER</h3>
    <hr width="300">
    <div class="about-me">
      <p>Carlie Clippinger is a 23 year old California native, and Web Development Immersive student with General Assembly. You are viewing her most recent project with Ruby on Rails!</p>
      <p>Thanks for stopping by!</p>
    </div>
    <hr width="200">
    <h4>TIPS? SUGGESTIONS? NEED SOMEONE TO TALK TO? EMAIL ME!</h4>
    <a href="mailto:carliesachiko@gmail.com?Subject=Travel%20App" target="_top"><span class="glyphicon glyphicon-envelope blck"></span></a>
    <br><br><br><br><br><br><br>
  </section>

</div>







