<div class="profile">
  <div class="jumbotron text-center">
    <h2>MY BUCKET LIST</h2>
    <h3><%= @eatery.city.name.upcase %>, <%= @eatery.city.country.upcase %></h3>
    <div id="notice"><%= notice %></div>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Profile", user_path(current_user), class: "grey-link" %></li>
    <li><%= link_to "My Bucket List", user_cities_path(current_user), class: "grey-link" %></li>
    <li><%= link_to @eatery.city.name, city_path(@eatery.city), class: "grey-link" %></li>
    <li class="active"><%= @eatery.name %></li>
  </ol>

<div class="container">
  <h4><%= @eatery.name %></h4>
  <h4>Address: <%= @eatery.address %></h4>
  <h4>Notes:</h4>
  <p><%= @eatery.note %><p>

  <br>
  <%= link_to "Edit", edit_eatery_path, class: "blck-link" %> |
  <%= link_to "Delete", sight_path(@eatery), method: :delete, data: { confirm: 'Are you sure???' }, class: "blck-link" %>
</div>



</div>
