<div class="profile">
  <div class="jumbotron text-center">
    <h2>My Bucket List</h2>
    <h3><%= @activity.city.name %>, <%= @activity.city.country %></h3>
    <%= link_to "Go Back", city_path(@activity.city_id) %>
    <div id="notice"><%= notice %></div>
  </div>

<h4><%= @activity.name %></h4>



  <%= link_to "Edit", edit_activity_path %> |
  <%= link_to "Delete", activity_path(@activity), method: :delete, data: { confirm: 'Are you sure???' } %>




</div>
