<!DOCTYPE html>
<html>
<head>
  <title>Travel App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
          <span>
            <div class="glyphicon glyphicon-globe"></div></a>
          </span>
    </div>
     <div class="dropdown pull-right profile-pic">
    <%= link_to user_path(current_user), :id => "dLabel", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :role => "button", :aria => {:expanded => "false"} do %>
        <%= image_tag(current_user.image.url, height: '50', class: "rounded profile-image-cropper") %>
    <% end %>
      <ul class="dropdown-menu" aria-labelledby="dLabel" role="menu">
        <li><span class="glyphicon glyphicon-home"></span><span><%= link_to 'Home', user_path(current_user) %></span></li>
        <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
      </ul>
    </div>
  </nav>


<%= yield %>

</body>

</html>
